
div#LinhaForm {
    margin-right: .01%;
    height: 30%;
}

div#LinhaVisitantes {
    width: 99.8%;
    /* margin-top: 5%; */
    padding-left: .2%;
}

div#turista{
    padding-left: 10%;
    margin-top: auto;
}

img#log {
    position: relative;
    top: 10%;
    width: 50px;
    height: 58px;
    float: left;
    margin-left: 3%;
}

p#titulo {
    position: relative;
    top: 20%;
    margin-left: 1%;
    float:left; 
    font-size: 200%;
    color: black;
    /* text-shadow: 1px 0px 0px black,
                -2px 0px 0px black,
                 0px 2px 0px black,
                 0px -1px 0px black; */
}

.imglang{
    width: 65px;
    height: auto;  
    background-color:#d1d1d1;
	border-radius:28px;
	border:1px solid #000000;
	cursor:pointer;
	color:#ffffff;
    float: right;
    position: relative;
    top: 23%;
    margin-left: 3px;
    
}

div#lang {
    position: relative;
}


img#simbolo {
   width: 100%;
   height: 110%;
}   

div#divSimbolo {
    margin-top: 0%;
    position: relative;
    /* background-color: rgb(161, 140, 108) ; */
}

div#form2 {
    margin-right: .2%;
}

nav p{
    color: black;
    text-align: center;
    font-size: 1rem;
    height: auto;

}

button {
    float: right;
    margin-right: 1px;
    /* margin-top: 20%; */
}

div#nav {
    position: relative;
    height: 4.5rem;
    margin-right:.1%;
    background-color: rgb(161, 140, 108);
}

img#fabrica {
    position: relative;
    width: 7%;
    bottom: 15px ;
    height: auto;
    float: left;
    margin-left: 50px;
}

h4#msg {
    text-align: center;
    /*font-size: 90%;*/
}

p#msg2{
    text-align: center;
    /* font-size: 90%; */

}

div#texto {
    width: 100%;
    margin-top: 20px;
}

div#formulario {
    width: 100%;
    margin-top: 15px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 140, 108) ;
}

p#tfooter{
    text-align: center;
    color: black;
    font-size: 1rem;
    margin-top: 25px;
}

p#desenvolvedor{
    position: relative;
    color: black;
    text-align: center;
    font-size: 1rem;
    
    bottom: 75%;
}