img#navimg {
    position: relative;
    height: 50px;
    width: 100%;
}

div#linhaNav {
    margin-right: .01%;
}

div#LinhaForm {
    margin-right: .01%;
    margin-top: 2%; 
}

div#LinhaRodaPe {
    width: 99.8%;
    margin-top: 5%;
    padding-left: .2%;
}

div#turista{
    padding-left: 10%;
    position: relative;
    margin-top: auto;
}

img#log {
    width: 5.6%;
    height: 40px;
    float: left;
    margin-left: .7%;
}

p#titulo {
    float:left;
    font-size: 160%;
    z-index: auto;
    color: white; 
    display: inline-block;
}

.imglang{
    width: 70px;
    height: 30px;  
    background-color:#d1d1d1;
	border-radius:28px;
	border:1px solid black;
	display:flex;
	cursor:pointer;
	color:#ffffff;
    float: right;
}

div#lang {
    margin-top: .7%;    
}

div#nav {
    position: absolute;
}

img#simbolo {
   width: 100%;
   height: 120%;
}

div#divSimbolo {
    margin-top: -2%;
}

div#rodape{
    margin-top: 2%;
    background-color: brown;
    height: 50px;
    margin-right: .01%;
}

div#form2 {
    margin-right: .2%;
}

div#rodape div p{
    text-align: center;
    font-size: 200%;
}

button {
    float: right;
    margin-right: 1px;
    margin-top: 20%;
}
